.mi-clase{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.otra-clase{
    color: red;
    font-weight: bold;
}

body {
    background-color: lightblue; /*color de fondo del body*/
 }
/* color y alineación de la etiqueta h1*/
h1 { 
    font-weight: bold;/* negrito o fuerte*/
    text-align: center;/*alineación*/
    font-style: italic;
}

.logo{
    width: 150px;
    height: auto;
    display: block; 
    margin: 0 auto;
}

p {
    margin: 50px;
}
/*
*{ margin:0;
    padding:0;
}
.titulo{
 background-color: #92a8d1;
margin: 20px;
}
.parrafo{
 background-color: green;
padding-top:50px;
padding-left: 10px;
padding-bottom: 60px;
padding-right: 300px;
}
footer{
    background-color: GoldenRod;
   padding: 10px 20px 30px 40px;
   margin: 10px 200px;
   }
   */