.logo{
    width: 200px;
    height: auto;
    display: block; 
    margin: 0 auto;
}

footer {
      text-align: center;
      padding: 20px;
      background-color: #333;
      color: white;
    }

body {
    background-color: #405059;
}

.mi-navbar {
    background-color: #00abff;
}

.nav-link{
    color: black;
    font-family: "Winky Rough", sans-serif;
    font-size: xx-large;
    margin: 10px;
}

.mi-navbar .nav-link:hover {
    color: #ccc;
}